
.body {
    display: flex;

}

.image_container {
    margin: 0 0 0 auto;
    z-index: 1;
}


.pr_text_container {

    position: absolute;
    z-index: 2;
    margin: 124px 0 12px 162px;
    width: 420px;
    height: 162px;

}

.pr_text {
    top: 0;
    left: 0;
    margin: 0 0 12px 0;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300;
}

.pr_text::before {
    content: "";
}

.primary_button a {
    letter-spacing: 0.01em;
    padding: 9px 16px;
    border-radius: 29px;
    height: 40px;
    font-size: 15px;
    background-color: #006EFF;
    text-decoration: none;

}

.under_pr_text {
    width: 288px;
    color: grey;
    line-height: 22px;
    font-size: 17px;
    margin-bottom: 20px;
}

.back_image {
    position: absolute;
    z-index: 0;
    max-width: 1360px;
}

.image {
    width: 945px;
    height: 660px;
}