
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1360px;
    height: 74px;
}

.Logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 68px;
}

.MenuElement {
    float: right;
    display: flex;
    align-items: center;
    color: grey;
}

.MenuElement li {
    list-style: none;
    display: inline-flex;
    margin: 0 40px;
}

.MenuElement li:last-child {
    margin-right: 506px;
}